:root {
  --accent-color: #fffbfe;

  --spacing-8px: 0.5rem;
  --spacing-16px: 1rem;
  --spacing-24px: 1.5rem;
  --spacing-32px: 2rem;

  --font-size-8px: 0.5rem;
  --font-size-16px: 1rem;
  --font-size-24px: 1.5rem;
  --font-size-32px: 2rem;
}
body {
  color: var(--accent-color);
  background-image: url("/src/img/img/Shiny Overlay(1).svg");
  background-size: cover;
}
header img {
  border-radius: 50%;
  border: 4px solid var(--accent-color);
  width: 50%;
  height: 50%;
}
nav ul {
  margin:var(--spacing-16px);
  padding: 0;
  justify-content: space-around;
  display: flex;
}
nav ul li {
  font-size: 22px;
  list-style: none;
}
.main-image {
  padding: var(--spacing-32px);
  display: flex;
  justify-content: center;
}
.hero-text {
  padding: var(--spacing-16px);
}
.icon-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  gap: 2rem;
}
.icon-container i {
  font-size: 4rem;
}
.arrow-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: var(--accent-color);
  font-size: calc(var(--font-size-32px) * 3);
}
.bounce {
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
