:root {
  --accent-color: #fffbfe;

  --spacing-8px: 0.5rem;
  --spacing-16px: 1rem;
  --spacing-24px: 1.5rem;
  --spacing-32px: 2rem;

  --font-size-8px: 0.5rem;
  --font-size-16px: 1rem;
  --font-size-24px: 1.5rem;
  --font-size-32px: 2rem;
}

* {
  list-style: circle;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  color: var(--accent-color);
  background-size: cover;
  width: 100vw;
  height: 100%;
  background-image: url('../src/img/img/topography1.svg');
  background-color: #155259;
}

.header {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url('../src/img/img/overlay4.png');
  background-color: #155259;
  background-size: cover;
}

.header img {
  border-radius: 50%;
  border: 4px solid var(--accent-color);
  width: 180px;
  height: 180px;
}

.main-image-container {
  display: grid;
  place-items: center;
}

.main-image-circle {
  filter: invert(1);
  background-image: url(../src/img/img/abstract-circle.svg);
}

.main-image {
  filter: invert(1);
  padding: var(--spacing-32px);
  display: flex;
  justify-content: center;
}
.hero-text {
  padding: var(--spacing-16px);
}
.icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  gap: 2rem;
}
.icon-container i {
  font-size: 4rem;
}

.section-redirect {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.learn-button {
  font-size: 1rem;
  border-radius: 4px;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  background-color: transparent;
}

.arrow-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: var(--accent-color);
  font-size: calc(var(--font-size-32px) * 3);
}
.bounce {
  animation: bounce 4s infinite;
}

.main-container {
  height: 80vh;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* New content */

.about-container {
  height: 80vh;
  padding: var(--spacing-16px);
  margin: var(--spacing-16px);
  border: 2px solid var(--accent-color);
  text-align: center;
}

.about-container h1 {
  margin: 0;
}

.about-container p {
  margin: var(--spacing-16px);
}

.icon-container {
  margin: var(--spacing-24px);
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: var(--spacing-16px);
}

.contact-container {
  padding: var(--spacing-16px);
  margin: var(--spacing-16px);
  border: 2px solid var(--accent-color);
  text-align: center;
}
.contact-socials-container {
  margin: var(--spacing-24px);
  display: flex;
  justify-content: space-evenly;
}
.contact-socials-container img {
  width: 50px;
  height: 50px;
}

.contact-under-container {
  padding: var(--spacing-16px);
  margin: var(--spacing-16px);
  text-align: center;
}

.contact-under-container p {
  padding: var(--spacing-16px);
  margin: var(--spacing-16px);
  text-align: center;
}

nav {
  margin: var(--spacing-16px);
  padding: 0;
  justify-content: space-around;
  display: flex;
  margin-bottom: 1.6rem;
}
nav a {
  font-size: 22px;
  font-weight: 900;
  text-shadow: 2px 2px 5px #000000;
  list-style: none;
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

i,
p,
h1 {
  text-shadow: 2px 2px 5px #000000;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.project-detail-container {
  border-radius: 10px;
  display: flex;
  height: 100%;
}

.project-heading {
  height: 100%;
}

.project-description {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  display: grid;
  place-items: center;
  color: black;
  background-color: #fffcf1;
  border-left: 0;
  text-shadow: none;
}

.project-description p {
  text-align: center;
  padding: 1rem;
  padding-top: 0;
  text-shadow: none;
}
.project-description h3 {
  text-align: center;
}

#description-tech {
  padding: 0;
  font-weight: 900;
}

#description-list {
  margin-left: 1rem;
  text-align: left;
}

hr.rounded {
  margin: 0 auto;
  opacity: 50%;
  width: 70%;
  border-top: 4px solid Black;
  border-radius: 5px;
}

.project-listing {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px 0px 8px;
  height: 40px;
  width: 100%;
  border-top: 2px solid white;
  bottom: 0;
}

p {
  margin: 0;
}

.project-listing a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.hero-text > h1:nth-child(1) {
  text-shadow: none;
}

.header {
  display: grid;
  justify-items: center;
  place-items: center;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project-description {
    position: relative;
    min-height: 60%;
    margin-bottom: 5rem;
  }
  hr.rounded {
    display: none;
  }
  a.project-link {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 1200px) {
  .project {
    width: 300px;
    height: 200px;
  }

  .projects-container a {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .project-detail-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  .project-detail-container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    float: left;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .project-heading {
    width: 100%;
    flex: 1;
  }

  .project-description {
    display: block;
    width: 300px;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .projects-container a {
    width: 100%;
  }

  .project-listing {
    font-size: 12px;
  }

  .project-description {
    width: 700px;
  }

  .project-detail-container img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    width: 400px;
    height: 300px;
    object-fit: cover;
  }

  .main-container {
    width: 90%;
    margin: 0 auto;
  }

  p {
    font-size: 1.2rem;
    padding: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  .icon-container i {
    font-size: 5rem;
  }

  .contact-socials-container a img {
    width: 80px;
    height: 80px;
  }

  .contact-under-container img {
    width: 35px;
    height: 35px;
  }

  .header img {
    border-radius: 50%;
    border: 4px solid var(--accent-color);
    width: 300px;
    height: 300px;
  }

  .hero-text {
    font-size: 1.8rem;
    padding: var(--spacing-16px);
  }

  .learn-button {
    font-size: 2rem;
  }

  nav a {
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 2px 2px 5px #000000;
  }
}

a.project-link {
  bottom: 0;
  text-transform: uppercase;
  font-weight: 900;
  color: #000000;
}

.project {
  width: 100%;
}

.project-heading {
  background-repeat: no-repeat;
}

.happy-wastes {
  background-image: url(../src/img/thumbnails/happwastes.png);
}

.missive-immersive {
  background-image: url(../src/img/thumbnails/missivescaled.png);
}

.portfolio {
  background-image: url(../src/img/thumbnails/jk.png);
}

.choupets {
  background-image: url(../src/img/thumbnails/choupets.png);
}

.emerga {
  background-image: url(../src/img/thumbnails/emerga.png);
}
